body
{
	margin: 0;
	padding: 0;
	font-family: 'Play', sans-serif;
}

.box
{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 920px;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #065f61;
	text-align: center;
	margin-bottom: 10%;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.box h1
{
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}

::-webkit-input-placeholder
{
  /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder
{
  /* Firefox 19+ */
 color: white;
}
:-ms-input-placeholder
{
  /* IE 10+ */
  color: white;
}


.box input[type = "text"],.box input[type = "password"], .box input[type = "date"]
{
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #f2f2f2;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	font-size: 15px;
	color: white;
	font-family: 'Play', sans-serif;
	border-radius: 24px;
	transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus,.box input[type = "date"]:focus
{
	width: 280px;
	border-color: #3498db;
}

.box input[type = "submit"], .box input[type = "reset"]
{
	border:0;
	font-family: 'Play', sans-serif;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.box input[type = "submit"]:hover,.box input[type = "reset"]:hover
{
	background: #3498db;
}

